.sectionContainer {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    padding-top: 0px;
    background-color: white;
}

.left {
    flex: 1;
    width: 50%;
    max-width: 640px;
    padding: 20px;
    position: relative;
    background-color: #E3E7E0 ;
}

.right {
    flex: 1;
    width: 50%;
    max-width: 640px;
    height: 300px;
    position: relative;
    overflow: hidden;
    background-color: white;
}

.headline {
    font-size: 28px;
    color: #1a1a1a;
    font-weight: normal;
    margin-left: 50px;
    margin-top: 50px;
}

.subheading {
    font-size: 18px;
    color: #5f5f5f;
    margin-left: 50px;
    margin-top: 10px;
}

.line1 {
    font-weight: normal;
}

.line2 {
    font-style: italic;
    display: block;
    color: #1a1a1a;
    margin-top: -5px;
}

.sec1Button {
    position: absolute;
    bottom: 50px;
    left: 70px;
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sec1Button:hover {
    background-color: #F5E9E9;
    color: black;
}


.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.arrowButton {
    position: absolute;
    top: 130px;
    right: 20px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #ddc5c5;
}