.sectionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 30px;
}

.message p {

}

.one {
font-size: 24px;
}

.two {
    font-size: 18px;
    font-style: italic;
}



.carouselContainer {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
    overflow: hidden;
    padding: 10px;
    padding-top: 20px;
  }
  
  .carouselTrack {
    width: 100%;
    overflow: hidden;
  }
  
  .carouselItems {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carouselItem {
    flex: 0 0 25%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    font-size: 16px;
    position: relative;
  }
  
  .imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .textContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .categoryImage {
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1/1;
    margin: 0 auto;
    display: block;
  }
  
  .carouselItem p {
    padding-top: 10px;
    margin: 0;
    position: relative;
    cursor: pointer;
  }
  
  .arrowLeft,
  .arrowRight {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    z-index: 10;
    box-shadow: none;
    color: #ddc5c5;
  }
  
  .arrowLeft {
    left: 5px;
  }
  
  .arrowRight {
    right: 5px;
  }

