
.reviews {
    display: flex;
    justify-content: space-between;
    background-color: white;
    gap: 20px;
    padding-bottom: 50px;
    padding: 20px;


}


.reviewCard {
    flex: 1;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #F5E9E9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-height: 170px;
    display: flex;
    flex-direction: column;

}


.text {
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #656565;
}



.name {
    font-size: 14px;
    font-size: italic;
    text-align: right;
    padding-top: 10px;
    /*margin-top: 10px; */

}

.secName {
    font-size: 24px;
    text-align: center;
    padding-top: 30px;
}

.secName2 {
    text-align: center;
    font-style: italic;
    font-size: 18px;
    padding-bottom: 10px;
}


@media screen and (max-width: 768px) {
    .reviewCard {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }

    .reviews {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 400px) {
    .reviewCard {
        flex: 1 1 100%;
        max-width: 100%;
        
    }

    .reviews {
        flex-direction: column;
        align-items: center;
    }
}